@using (Html.BeginForm("GetFooter", "Home", FormMethod.Post))
{
    <h3>Join other side?</h3>
    <button type="submit" name="action" value="yes">Yes</button>
    <button type="submit" name="action" value="no">No</button>
}
